:root {
  --primary-color: #C84630;
  --dark-color: #333;
  --light-color: #F4F4F4;
  /* font-family: sans-serif; */
}

.col-12 {
  width: 100%;
}

.col-9 {
  width: 75%;
}


.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: #BACC81;
}

.text-justify {
  text-align: justify;
}

.l-heading {
  font-size: 2.5rem;
}

.mt-3 {
  margin-top: 20px;
}

.content {
  font-size: 18px;
  padding: 0 100px;
}


.showcase {
  background: var(--dark-color) url('defor1.jpg')no-repeat center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  position: relative;


}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.73);
  z-index: 1;
}

.showcase-content {
  z-index: 4;
}

.message{
  text-align: center;
  font-size: 22px;
  font-style:oblique;
}